<a href="https://colab.research.google.com/github/chaehchaeh/DataAnalyzing/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D%ED%8A%B9%EA%B0%95_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EA%B8%B0%EC%B4%88%EB%AC%B8%EB%B2%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#파이썬의 기본 변수 4가지
a=3
b=0.5
x='김연아'
y=True
print(a,b,x,y)

3 0.5 김연아 True

In [ ]:
#문자열의 길이보기
len(x)

3

In [ ]:
#정수,실수,불리언의 4칙연산
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a+b+y)

3.5
2.5
1.5
6.0
4.5

In [ ]:
#변수의 타입 확인하기
type(a),type(b),type(x),type(y)

(int, float, str, bool)

In [ ]:
a=7
b=3

print(a//b)
print(a%b)
print(a**b)

2
1
343

In [ ]:
#문자열 붙이기
x='오늘 날씨는 '
y='좋으네요~ '
z=x+y
print(z)

오늘 날씨는 좋으네요~

In [ ]:
#문자열 반복하기
x+3*y

'오늘 날씨는 좋으네요~ 좋으네요~ 좋으네요~ '

In [ ]:
#문자열 일부 보기(슬라이싱)
x='오늘 날씨는 '
print(len(x))
print(x)
print(x[1])
print(x[:3])
print(x[3:6])
print(x[-3])
print(x[-3:])

7
오늘 날씨는
늘
오늘
날씨는
씨
씨는

In [ ]:
#문자열을 ','나 공백(스페이스) 등으로 나누기
name1='김연아,손흥민,이선희,유재석'
# ','로 나누기
z=name1.split(',')
print(z)
#스페이스로 나누기(디폴트)
name2='김연아 손흥민 이선희 유재석'
print(name2.split())

['김연아', '손흥민', '이선희', '유재석']
['김연아', '손흥민', '이선희', '유재석']

In [ ]:
#단어 합치기
';'.join(z)

'김연아;손흥민;이선희;유재석'

In [ ]:
#날짜를 '/'를 기준으로 나누고 순서를 바꾸어서 합치기
date='12/31/2023'
z=date.split('/')
print(z)
print(z[1])
new_date='-'.join((z[2],z[0],z[1]))
print(new_date)

['12', '31', '2023']
31
2023-12-31

In [ ]:
#문자열 교체
x='오늘 날씨는 '
print(x.replace('날씨는','기온은'))

오늘 기온은

In [ ]:
#문자열 내에 변수를 같이 출력하는 방법
x=5
y=90.5
print(f'틀린 개수가 {x}개 이하이면 {y} 점입니다.')
print('틀린 개수가 %d개 이하이면 %f 점입니다.'%(x,y))
print('틀린 개수가 {0}개 이하이면 {1}점입니다.'.format(x,y))

틀린 개수가 5개 이하이면 90.5 점입니다.
틀린 개수가 5개 이하이면 90.500000 점입니다.
틀린 개수가 5개 이하이면 90.5점입니다.

In [ ]:
#비교연산의 결과는 논리형 값이다
x=5
z=x<1
print(z)
print(x>0)

False
True

In [ ]:
a=True
b=False
print(a&b)
print(a|b)

False
True

In [ ]:
#리스트 생성과 일부항목 얻기
a=3
b=90
small_list=[100,200]
x=[1,2,a,a*10,b,small_list,'김연아']
print(len(x))
print(x)
print(x[1])
print(x[:3])
print(x[3:6])
print(x[-3])
print(x[-3:])

7
[1, 2, 3, 30, 90, [100, 200], '김연아']
2
[1, 2, 3]
[30, 90, [100, 200]]
90
[90, [100, 200], '김연아']

In [ ]:
print(x)
x.append('손흥민')#맨 뒤에 추가된다
x.append('손흥민')
x

[1, 2, 3, 30, 90, [100, 200], '김연아']

[1, 2, 3, 30, 90, [100, 200], '김연아', '손흥민', '손흥민']

In [ ]:
#리스트에 포함된 항목 확인하기
x=[30,40,'김연아']
print(30 in x)
print(100 in x)
print('김연아' in x)

True
False
True

In [ ]:
#리스트 복제 및 붙이기
a=[0]
b=[1]
z=a*5+b*5
z

[0, 0, 0, 0, 0, 1, 1, 1, 1, 1]

In [ ]:
#리스트 순서 정렬하기
x=[2,1,3,5,4]
y=sorted(x)
z=sorted(x,reverse=True)
print(y)
print(z)
x=['이선희','김연아','박세리']
y=sorted(x)
print(y)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
['김연아', '박세리', '이선희']

In [ ]:
#튜플만들기,복제,합치기
tuple_a=(1,2,3)
tuple_b=90,'good'
z=tuple_a*2+tuple_b
print(z)
print(z[-2])
print(3 in z)
print(4 in z)

(1, 2, 3, 1, 2, 3, 90, 'good')
90
True
False

In [ ]:
#딕셔너리 생성, 값변경, 항목추가하기
student={'grade':3, 'age':21, 'name':'kim'}
print(student['grade'])
student['age']=28
student['address']='Seoul'
print(student)

3
{'grade': 3, 'age': 28, 'name': 'kim', 'address': 'Seoul'}

In [ ]:
#딕셔너리의 키, 값, 항목 전체 출력하기
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['grade', 'age', 'name', 'address'])
dict_values([3, 28, 'kim', 'Seoul'])
dict_items([('grade', 3), ('age', 28), ('name', 'kim'), ('address', 'Seoul')])

In [ ]:
#딕셔너리에 특정 키가 존재하는지 확인하기
print('age' in student)
print('sex' in student)

True
False

In [ ]:
#특수 변수 range와 내용 보기
x=range(10)
print(x)
list_x=list(x)
print(list_x)

y=range(2,20,3)
print(y)
print(list(y))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
range(2, 20, 3)
[2, 5, 8, 11, 14, 17]

In [ ]:
#기본적인 if, elif, else 사용법
x=90

if x>80:
    print('축하합니다~ 합격입니다')
    print('다음주부터 출근하시면 됩니다.')

elif x>60:
    print('2차 면접시험 대상자 입니다.')
    print('시험 날짜를 알려드리겠습니다.')
else:
    print('불합격입니다.')

축하합니다~ 합격입니다
다음주부터 출근하시면 됩니다.

In [ ]:
#for문을 사용하여 채점 결과를 알려주는 코드
score=[50,70,90]
for x in score:
    print('----------------------')
    if x>80:
        print('축하합니다~ 합격입니다')
        print('다음주부터 출근하시면 됩니다')
    elif x>60:
        print('2차 면접시험 대상자 입니다')
        print('시험 날짜를 알려드리겠습니다')
    else:
        print('불합격입니다.')

----------------------
불합격입니다.
----------------------
2차 면접시험 대상자 입니다
시험 날짜를 알려드리겠습니다
----------------------
축하합니다~ 합격입니다
다음주부터 출근하시면 됩니다

In [ ]:
#리스트의 인덱스를 얻는 enumerate()사용예
score = [50,70,90]
for i, x in enumerate(score):
    print('-------------------')
    print(i+1, '번째 응시자님:')
    if x>80:
        print('축하합니다~ 합격입니다')
        print('다음주부터 출근하시면 됩니다.')
    elif x>60:
        print('2차 면접시험 대상자입니다.')
        print('시험 날짜를 알려드리겠습니다')
    else:
        print('불합격입니다')

-------------------
1 번째 응시자님:
불합격입니다
-------------------
2 번째 응시자님:
2차 면접시험 대상자입니다.
시험 날짜를 알려드리겠습니다
-------------------
3 번째 응시자님:
축하합니다~ 합격입니다
다음주부터 출근하시면 됩니다.

In [ ]:
#enumerate사용예
names=['kim','park','lee']
print(list(enumerate(names)))
for i, name in enumerate(names):
    print(f'{i+1}번째 사람 이름은 {name}입니다')

[(0, 'kim'), (1, 'park'), (2, 'lee')]
1번째 사람 이름은 kim입니다
2번째 사람 이름은 park입니다
3번째 사람 이름은 lee입니다

In [ ]:
#1~5사이의 정수에 10을 곱하기
for i in range(1,6):
    print(i*10)

10
20
30
40
50

In [ ]:
#리스트 선언문 내에서 for을 사용하는 방법
z=[i*10 for i in range (1,6)]
print(z)

[10, 20, 30, 40, 50]

In [ ]:
#문자열에 문자열 포함 확인하기
s='I am happy'
print('happy' in s)
print('hap' in s)

True
True

In [ ]:
#특정 문자열이 포함된 항목을 찾아서 리스트를 만들기
files=['cat001','cat002','dog003','dog004']
match='cat'
new_list=[s for s in files if match in s]
print(new_list)

['cat001', 'cat002']

In [ ]:
#구구단을 딕셔너리로 만들고 사용하기
result={}
for i in range(2,10):
    for j in range(1,10):
        result[(i,j)]=i*j

#구구단 사용하기
result[(7,9)]

63